// Colors
$primary-color: #ff0043;
$secondary-color: #dd0c44;
$light-color: #fff;
$dark-color: #000;

$gray-7: #484848;
$gray-8: #333;
$gray-9: #1a1a1a;

// Sizes
$max-lg: 992px;
$max-md: 768px;
$max-sm: 576px;
