@import "fonts";
@import "variables";
@import "mixins";

body {
  &::-webkit-scrollbar {
    width: 0.8em;
  }
  &::-webkit-scrollbar-track {
    background-color: $gray-8;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $primary-color;
    outline: 1px solid $primary-color;
  }
}

body,
html {
  font-family: "Lato", sans-serif;
  color: $gray-7;
  background-color: $gray-7;
  overflow-x: hidden !important;
}

strong {
  color: $dark-color;
}

a,
a:hover {
  color: $primary-color;
}

::selection {
  background: $primary-color;
  color: $light-color;
}

::-moz-selection {
  background: $primary-color;
  color: $light-color;
}

.navbar-toggler {
  border: 0px;
  svg {
    color: $gray-9;
    @include slowTransition;
  }
  &:hover svg {
    color: $primary-color;
    @include slowTransition;
  }
}

.btn-outline-danger {
  border-color: $primary-color;
  color: $primary-color;
  &:hover,
  &:focus,
  &:active {
    background-color: $primary-color;
    border-color: $primary-color;
    color: $light-color;
  }
}

.btn-danger {
  background-color: $primary-color;
  border-color: $primary-color;
  &:hover,
  &:focus,
  &:active {
    background-color: $secondary-color;
    border-color: $secondary-color;
  }
}

.badge-danger {
  background-color: $primary-color;
  border-color: $primary-color;
}

.modal-title {
  font-family: "Noto Serif KR", sans-serif;
  font-weight: 700;
  i,
  svg {
    color: $primary-color;
  }
  .material-icons {
    position: relative;
    top: 5px;
  }
  &::after {
    content: ";";
    color: $primary-color;
  }
}

.full-height-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    @include slowTransition;
  }
  canvas {
    position: relative;
    z-index: 1;
  }
  .flex-center {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.full-height-section-down {
  .backdrop {
    background-color: rgba(0, 0, 0, 0.7);
    @include slowTransition;
  }
  .home-logo {
    opacity: 0 !important;
    visibility: hidden !important;
    @include slowTransition;
  }
}

#home {
  background: url(../img/home.jpg) $gray-8 no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home-logo {
  position: relative;
  top: -40px;
  display: inline-block;
  z-index: 2;
  opacity: 1;
  visibility: visible;
  @include slowTransition;
  img {
    width: 300px;
  }
}

.home-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  @media (max-width: 991px) {
    display: none;
  }
}

.home-menu-left {
  position: relative;
  text-align: right;
  .backdrop {
    position: absolute;
    bottom: 0;
    left: -5%;
    width: 105%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transform: skewX(-10deg);
  }
  ul {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0;
    margin-right: 15px;
    li {
      list-style: none;
      display: inline-block;
      a {
        display: block;
        padding: 15px 12px;
        color: $light-color;
        text-decoration: none !important;
        text-transform: uppercase;
        font-size: 0.9em;
        font-weight: 700;
        @include fastTransition;
        &:hover {
          opacity: 0.6;
          @include fastTransition;
        }
      }
    }
    .active {
      a,
      a:hover {
        color: $primary-color;
        opacity: 1;
      }
    }
    .separator {
      width: 20px;
    }
    .lang-link {
      padding: 15px 0px;
      a {
        padding: 0px 8px;
        border-right: 1px solid rgba(255, 255, 255, 0.4);
      }
      &:last-child a {
        border-right: none;
      }
    }
  }
}

.home-menu-right {
  position: relative;
  .backdrop {
    position: absolute;
    bottom: 0;
    right: -5%;
    width: 105%;
    height: 100%;
    background-color: rgba(255, 0, 67, 0.7);
    transform: skewX(-10deg);
  }
  ul {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0;
    margin-left: 15px;
    li {
      list-style: none;
      display: inline-block;
      a {
        display: block;
        padding: 15px 8px;
        color: $light-color;
        text-decoration: none !important;
        text-transform: uppercase;
        font-size: 0.9em;
        font-weight: 700;
        @include fastTransition;
        &:hover {
          opacity: 0.6;
          @include fastTransition;
        }
      }
    }
  }
}

header {
  opacity: 1;
  top: 0;
  @include fastTransition;
  &.header-hidden {
    opacity: 0;
    top: -180px;
    @include fastTransition;
    @media (max-width: 991px) {
      opacity: 1;
      top: 0;
    }
  }
  .nav-link {
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 700;
    color: $gray-7 !important;
  }
  .active {
    color: $primary-color !important;
  }
}

.home-separator {
  height: 100vh;
}

.page-section {
  background-color: $light-color;
  position: relative;
  z-index: 1;
}

.page-section-padding {
  padding-top: 45px;
  padding-bottom: 45px;
}

.me {
  background-image: url(../img/yo.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.page-section-text {
  padding: 45px;
}

.page-section-title {
  font-family: "Noto Serif KR", sans-serif;
  font-weight: 700;
  margin-bottom: 25px;
  &::after {
    content: ";";
    color: $primary-color;
  }
}

.page-section-subtitle {
  font-family: "Noto Serif KR", sans-serif;
  color: $gray-7;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 8px;
  margin-bottom: 25px;
}

.hexagon {
  position: relative;
  cursor: pointer;
  width: 110px;
  height: 63.51px;
  margin: 31.75px auto 50.75px auto;
  background-color: $light-color;
  background-size: 55px auto;
  background-position: center;
  background-repeat: no-repeat;
  border-left: solid 5px $primary-color;
  border-right: solid 5px $primary-color;
  box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.3);
  @include fastTransition;
  &::after {
    content: "";
    position: absolute;
    top: 2.8868px;
    left: 0;
    width: 100px;
    height: 57.735px;
    z-index: 2;
    background: inherit;
  }
  &:hover {
    -webkit-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
    @include fastTransition;
  }
  &.hexagon-code {
    background-image: url(../img/code.svg);
  }
  &.hexagon-graphic {
    background-image: url(../img/graphic-tool.svg);
  }
  &.hexagon-creative {
    background-image: url(../img/creative-idea.svg);
  }
  &.hexagon-joystick {
    background-image: url(../img/joystick.svg);
  }
}

.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 77.78px;
  height: 77.78px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.3);
  background: none;
  background-color: $light-color;
  left: 11.11px;
  &::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 57.73502691896258px;
    -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-28.8675px);
    -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-28.8675px);
    transform: rotate(45deg) scaleY(1.7321) translateY(-28.8675px);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
  }
}

.hexTop {
  top: -38.8909px;
  border-top: solid 7.0711px $primary-color;
  border-right: solid 7.0711px $primary-color;
  &::after {
    background-position: center top;
  }
}

.hexBottom {
  bottom: -38.8909px;
  border-bottom: solid 7.0711px $primary-color;
  border-left: solid 7.0711px $primary-color;
  &::after {
    background-position: center bottom;
  }
}

.section-separator {
  position: relative;
  width: 100%;
  height: 300px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#ss1 {
  background: url(../img/teclado.jpg) no-repeat center center fixed;
  @include backgroundCover;
}

#ss2 {
  background: url(../img/codigo.jpg) no-repeat center center fixed;
  @include backgroundCover;
}

#ss3 {
  background: url(../img/contacta.jpg) no-repeat center center fixed;
  @include backgroundCover;
}

.tag-cloud {
  margin-top: 35px;
  span::before {
    content: "#";
  }
}

.logos {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 16px 8px;
  @media (max-width: $max-lg) {
    grid-template-columns: repeat(8, 1fr);
  }
  @media (max-width: $max-md) {
    grid-template-columns: repeat(5, 1fr);
  }
  @media (max-width: $max-sm) {
    grid-template-columns: repeat(4, 1fr);
  }
  img {
    object-fit: contain;
    width: 100%;
    max-width: 64px;
    height: 64px;
    // filter: grayscale(100%);
  }
}

.portfolio {
  @media (max-width: 1199px) {
    h2 {
      font-size: 1.9em;
    }
    h3 {
      font-size: 1.2em;
    }
  }
}

.portfolio-item {
  visibility: visible;
  animation-duration: 1s;
  animation-name: fadeInRight;
  position: relative;
  display: block;
  overflow: hidden;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  @include fastTransition;
  &:hover,
  &:focus,
  &:active {
    @include fastTransition;
  }
  &:hover {
    .pi-shadow {
      background-color: rgba(0, 0, 0, 0.1);
      @include fastTransition;
    }
  }
  img {
    width: 100%;
    line-height: 0px;
  }
  .pi-shadow {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    @include fastTransition;
  }
  .pi-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 25px;
    color: $light-color;
    text-align: right;
    h4 {
      font-family: "Noto Serif KR", sans-serif;
      font-size: 2em;
      font-weight: 600;
      text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
      @media (max-width: 479px) {
        font-size: 1.2em;
      }
    }
    p {
      margin: 0;
      line-height: 1.2em;
      text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    }
  }
  .pi-tag {
    position: absolute;
    top: 55%;
    left: -12%;
    display: block;
    width: 68%;
    padding: 5px 0px;
    background-color: $primary-color;
    color: $light-color;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    -o-transform-orign: 0% 0%;
    -ms-transform-origin: 0% 0%;
    span {
      position: relative;
      top: -5px;
    }
  }
}

.portfolio-image {
  position: relative;
  display: block;
  margin-bottom: 15px;
  overflow: hidden;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  img {
    width: 100%;
  }
  .portfolio-image-shadow {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/maximize.svg);
    background-position: center 200%;
    background-repeat: no-repeat;
    background-size: 46px;
    @include fasterTransition;
  }
  &:hover .portfolio-image-shadow {
    background-color: rgba(0, 0, 0, 0.37);
    background-position: center center;
    -webkit-box-shadow: inset 0px 0px 100px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0px 0px 100px 0px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0px 0px 100px 0px rgba(0, 0, 0, 0.4);
    @include fasterTransition;
  }
}

.owl-theme {
  .owl-dots {
    margin-top: 30px !important;
    .owl-dot {
      outline: none !important;
      span {
        width: 16px;
        height: 16px;
      }
      &.active span,
      &:hover span {
        background-color: $primary-color;
      }
    }
  }
}

.contact-list {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    margin-bottom: 8px;
    a {
      display: flex;
      align-items: center;
      gap: 10px;
      color: $gray-7;
      svg {
        color: $primary-color;
      }
    }
  }
}

.contact-comments {
  color: $primary-color;
  font-size: 200px;
}

footer {
  position: relative;
  z-index: 1;
  background-color: $gray-9;
  padding: 25px 0px;
  color: $light-color;
  font-size: 0.9em;
  font-weight: 600;
  a {
    color: $light-color;
    @include fastTransition;
    &:hover {
      color: $primary-color;
      text-decoration: none;
      @include fastTransition;
    }
  }
}

.footer-social {
  text-align: right;
  a {
    display: inline-block;
    padding: 0px 7px;
    font-size: 1.1em;
  }
}
